# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb~*

# Environments / secrets
.env
.venv/
venv/
*.env

# Editors
.vscode/
.idea/

# Vector DB / caches / temp
collections/
chroma/
*.sqlite3
*.db
*.log

# OS
.DS_Store
Thumbs.db

data/


# Backend venv & env
backend/.venv/
backend/.env


# Backend
backend/.venv/
backend/.env
